.personalInfoContainer {
  border: 0.0625rem solid rgba(46, 54, 80, 0.125);
  border-radius: 5px;
  margin: 5px;
  display: block;
  height: auto;
  width: 100%;
  background: #ffffff;
  padding: 2rem;
  -webkit-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.generalInfoMainTitle {
  font-size: 18px;
  font-weight: bold;
}

.generalInfoSection {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 75px 75px;
  column-gap: 10px;
  row-gap: 5px;
}

.generalInfoInputs {
  width: 100%;
}

.infoTitles {
  font-size: 16px;
  font-weight: bold;
  color: #4a5073;
  display: block;
  margin-bottom: 5px;
}

.personalInfoButtons {
  width: 100px;
}

.p-button {
  background-color: #262b40 !important;
  border-color: #262b40 !important;
}

.p-button:hover {
  background-color: #2e3650 !important;
}

.generalInfoActionButtons {
  display: flex;
  justify-content: space-between;
}
