.mainPagesContainer {
  background-color: #f5f8fb;
  margin: 20px;
}

.categoriesWidgetsContainer {
  width: 100%;
  display: flex;
}

.categoriesWidgetsContainerGrid {
  width: 50%;
  margin: 0 5px 0 5px;
}

.listCategoriesContainerWidgetTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.categoriesWidgetsItem {
  margin: 0 0 10px 0;
}
